{% extends "ecomm/base.html" %}

{% block title %}
    <title>Checkout</title>
{% endblock %}

{% block content %}
    <h1>Checkout</h1>
    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>${{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart.get_total_price }}</p>
    </div>
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>

    <form
        method="POST"
        action="https://www.liqpay.ua/api/3/checkout"
        accept-charset="utf-8">
        <input
            type="hidden"
            name="data"
            value="eyJwdWJsaWNfa2V5IjogInNhbmRib3hfaTYwMjU4Mjk3NTgwIiwgInZlcnNpb24iOiAiMyIsICJhY3Rpb24iOiAicGF5IiwgImFtb3VudCI6ICIxNDgwIiwgImN1cnJlbmN5IjogIlVBSCIsICJkZXNjcmlwdGlvbiI6ICJidXkgaW4gdGVzdCBzaG9wIiwgIm9yZGVyX2lkIjogIjQyMjQ2MDM4NTExMzQxMTQ3NDk2MDQyNTg0MTU1NSIsICJsYW5ndWFnZSI6ICJydSIsICJyZXN1bHRfdXJsIjogImh0dHA6Ly8xMjcuMC4wLjE6ODAwMC8ifQ=="/>
        <input
            type="hidden"
            name="signature"
            value="yzTMSoYQ3KyhBETL2n9PSCa3Edg="/>
        <input
            type="image"
            src="//static.liqpay.ua/buttons/p1ru.radius.png"/>
    </form>

{% endblock %}