{% extends "ecomm/base.html" %}

{% block title %}
    <title>Thanks for your order</title>
{% endblock %}

{% block content %}
    <div class="container-lg">
        <div class="row">
            <h1 class="text-center">Ваш заказ принят</h1>
        </div>
        <div class="row">
            <p class="text-center">В ближайшее время мы сформируем и отправим вам заказ</p>
            <br />
            <p class="text-center">Благодарим за покупку в нашем интернет-магазине</p>
        </div>
    </div>
{% endblock %}